[submodule "dasher-origin"]
	path = call_a_robot/dasher-origin
	url = https://github.com/maddox/dasher.git
	branch = master
[submodule "Robot-Calling-Sytem"]
	path = call_a_robot/Robot-Calling-Sytem
	url = https://github.com/Haydencoe/Robot-Calling-Sytem.git
[submodule "CAR-Forwarders"]
	path = CAR-Forwarders
	url = https://github.com/LCAS/CAR-Forwarders.git
